<!DOCTYPE HTML>
<html>
<head>
	<title>Alarm Timeline</title>

	<script src="http://visjs.org/dist/vis.js"></script>
	<link href="http://visjs.org/dist/vis.css" rel="stylesheet" type="text/css" />

	<style>
		body, html {
			font-family: arial, sans-serif;
			font-size: 8px;
		}
	</style>
</head>
<body>
	<h2>Timeline of Alarm</h2>
	<div id="visualization"></div>
	<script>

	  var data_set = <%- JSON.stringify(data) %>;
	  
	  var items = new vis.DataSet(data_set)

          var container = document.getElementById('visualization'); 
          var options = {};
	
	  // Create the timeline!
	  var timeline = new vis.Timeline(container, items, options);
	</script>
</body>
</html>
